apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: fptf-badges
  namespace: app-releases
spec:
  chart:
    spec:
      chart: simple-app
      sourceRef:
        kind: HelmRepository
        name: charts
        namespace: flux-system
      version: '^3.0.0'
  interval: 5m
  values:
    image:
      repositoryWithRegistry: "ghcr.io/public-transport/fptf-badges" # {"$imagepolicy": "flux-system:fptf-badges-image-policy:name"}
      tag: "v1_d0e77d4_2023-09-18T03.25.18Z" # {"$imagepolicy": "flux-system:fptf-badges-image-policy:tag"}
    exposedPort: 3000
    environment:
      PORT: 3000
    hosts:
      - 'fptf.badges.juliustens.eu'

# resources:
#   limits:
#     cpu: 200m
#     memory: 256Mi
#   requests:
#     cpu: 100m
#     memory: 128Mi

    livenessProbe: false
    startupProbe: false
