apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: alerts
  namespace: flux-system
spec:
  interval: 5m0s
  dependsOn:
    - name: infra-secrets
      namespace: flux-system
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: ./kubernetes/infrastructure/alerts
  prune: true
  validation: client
