apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: chore-score-bot
  namespace: app-releases
spec:
  chart:
    spec:
      chart: simple-app
      sourceRef:
        kind: HelmRepository
        name: charts
        namespace: flux-system
      version: '^3.2.1'
  interval: 5m
  values:
    hasSecrets: true
    image:
      repositoryWithRegistry: "ghcr.io/juliuste/chore-score-bot" # {"$imagepolicy": "flux-system:chore-score-bot-image-policy:name"}
      tag: "v1_7d4233d_2023-09-18T02.57.14Z" # {"$imagepolicy": "flux-system:chore-score-bot-image-policy:tag"}
    exposedPort: 3000
    environment:
      MONGODB_DATABASE: chore-score-bot
    hosts:
    - 'chore-score-bot.juliustens.eu' # todo: remove this
    replicas: 1
    livenessProbe: false
    startupProbe: false
