apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: link-bahn-guru
  namespace: app-releases
spec:
  chart:
    spec:
      chart: simple-app
      sourceRef:
        kind: HelmRepository
        name: charts
        namespace: flux-system
      version: '^3.2.1'
  interval: 5m
  values:
    image:
      repositoryWithRegistry: "ghcr.io/juliuste/link.bahn.guru" # {"$imagepolicy": "flux-system:link-bahn-guru-image-policy:name"}
      tag: "v1_31a4685_2023-09-18T02.50.47Z" # {"$imagepolicy": "flux-system:link-bahn-guru-image-policy:tag"}
    exposedPort: 3000
    environment:
      PORT: 3000
    hosts:
      - 'link.bahn.guru'
    livenessProbe: false
    startupProbe: false
