apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: bahn-guru
  namespace: app-releases
spec:
  chart:
    spec:
      chart: simple-app
      sourceRef:
        kind: HelmRepository
        name: charts
        namespace: flux-system
      version: '^2.0.0'
  interval: 5m
  values:
    image:
      repositoryWithRegistry: "ghcr.io/juliuste/bahn.guru" # {"$imagepolicy": "flux-system:bahn-guru-image-policy:name"}
      tag: "v1_0226063_2022-05-26T00.01.42Z" # {"$imagepolicy": "flux-system:bahn-guru-image-policy:tag"}
    exposedPort: 3000
    environment:
      PORT: 3000
      API: 'bahn'
      ANALYTICS: 'true'
    hosts:
    - 'bahn.guru'
    - 'www.bahn.guru'

    resources:
      limits:
        cpu: 500m
        memory: 1024Mi
      requests:
        cpu: 250m
        memory: 512Mi

    livenessProbe: '/impressum'
    startupProbe: '/impressum'
