apiVersion: notification.toolkit.fluxcd.io/v1beta1
kind: Alert
metadata:
  name: slack-alert
  namespace: flux-system
spec:
  providerRef:
    name: slack-provider
  eventSeverity: error
  eventSources:
    - kind: Bucket
      name: '*'
    - kind: ImageRepository
      name: '*'
    - kind: ImagePolicy
      name: '*'
    - kind: ImageUpdateAutomation
      name: '*'
    - kind: GitRepository
      name: '*'
    - kind: Kustomization
      name: '*'
    - kind: HelmRepository
      name: '*'
    - kind: HelmChart
      name: '*'
    - kind: HelmRelease
      name: '*'
    - kind: HelmRelease
      name: '*'
      namespace: 'app-releases'
    - kind: HelmRelease
      name: '*'
      namespace: 'promtail'
    - kind: HelmRelease
      name: '*'
      namespace: 'ingress-nginx'
    - kind: HelmRelease
      name: '*'
      namespace: 'redis'
    - kind: HelmRelease
      name: '*'
      namespace: 'reloader'
