apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: lod-codefor-de-api
  namespace: app-releases
spec:
  chart:
    spec:
      chart: simple-app
      sourceRef:
        kind: HelmRepository
        name: charts
        namespace: flux-system
      version: '^3.1.0'
  interval: 5m
  values:
    image:
      repositoryWithRegistry: "ghcr.io/juliuste/lod.codefor.de-api" # {"$imagepolicy": "flux-system:lod-codefor-de-api-image-policy:name"}
      tag: "v1_980ca32_2025-11-30T02.37.00Z" # {"$imagepolicy": "flux-system:lod-codefor-de-api-image-policy:tag"}
    exposedPort: 8080
    environment:
      PORT: 8080
    resources:
      limits:
        memory: 1024Mi
      requests:
        cpu: 200m
        memory: 128Mi
    livenessProbe: false
    startupProbe: false
