apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: api-direkt-bahn-guru
  namespace: app-releases
spec:
  chart:
    spec:
      chart: simple-app
      sourceRef:
        kind: HelmRepository
        name: charts
        namespace: flux-system
      version: '^1.0.0'
  interval: 5m
  values:
    image:
      repositoryWithRegistry: "ghcr.io/juliuste/api.direkt.bahn.guru" # {"$imagepolicy": "flux-system:api-direkt-bahn-guru-image-policy:name"}
      tag: "v1_d597e60_2022-05-20T17.02.59Z" # {"$imagepolicy": "flux-system:api-direkt-bahn-guru-image-policy:tag"}
    exposedPort: 3000
    environment:
      PORT: 3000
      REDIS_URI: 'redis://some-password-123@redis-master.redis/1'
    hosts:
    - 'api.direkt.bahn.guru'
    resources:
      limits:
        cpu: 1000m
        memory: 1024Mi
      requests:
        cpu: 500m
        memory: 256Mi
    livenessProbe: '/health'
    readinessProbe: '/health'
