apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: api-direkt-bahn-guru
  namespace: app-releases
spec:
  chart:
    spec:
      chart: simple-app
      sourceRef:
        kind: HelmRepository
        name: charts
        namespace: flux-system
      version: '^3.2.1'
  interval: 5m
  values:
    image:
      repositoryWithRegistry: "ghcr.io/juliuste/api.direkt.bahn.guru" # {"$imagepolicy": "flux-system:api-direkt-bahn-guru-image-policy:name"}
      tag: "v1_9cbf5f2_2023-10-03T04.20.17Z" # {"$imagepolicy": "flux-system:api-direkt-bahn-guru-image-policy:tag"}
    exposedPort: 3000
    environment:
      PORT: 3000
      REDIS_URI: 'redis://some-password-123@redis-master.redis/1'
    hosts:
    - 'api.direkt.bahn.guru'
    resources:
      limits:
        memory: 1024Mi
      requests:
        cpu: 250m
        memory: 256Mi
    replicas: 4
    minAvailable: 2
    livenessProbe: '/health'
    startupProbe: '/health'
