apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lod-codefor-de-frontend
  namespace: app-releases
spec:
  chart:
    spec:
      chart: simple-app
      sourceRef:
        kind: HelmRepository
        name: charts
        namespace: flux-system
      version: '^3.2.1'
  interval: 5m
  values:
    image:
      repositoryWithRegistry: "ghcr.io/juliuste/lod.codefor.de-frontend" # {"$imagepolicy": "flux-system:lod-codefor-de-frontend-image-policy:name"}
      tag: "v1_980ca32_2025-12-25T02.35.14Z" # {"$imagepolicy": "flux-system:lod-codefor-de-frontend-image-policy:tag"}
    exposedPort: 8080
    environment:
      PORT: 8080
      SPARQL_ENDPOINT_URL: 'http://lod-codefor-de-api-service.lod-codefor-de-api:80/dataset/sparql'
    hosts:
      - 'lod.codefor.de'
    livenessProbe: false
    startupProbe: false
