apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: vbb-departure-hotline
  namespace: app-releases
spec:
  chart:
    spec:
      chart: simple-app
      sourceRef:
        kind: HelmRepository
        name: charts
        namespace: flux-system
      version: '^3.2.1'
  interval: 5m
  values:
    image:
      repositoryWithRegistry: "ghcr.io/juliuste/vbb-departure-hotline" # {"$imagepolicy": "flux-system:vbb-departure-hotline-image-policy:name"}
      tag: "v1_eb0fc32_2023-09-18T03.32.05Z" # {"$imagepolicy": "flux-system:vbb-departure-hotline-image-policy:tag"}
    exposedPort: 3000
    environment:
      PORT: 3000
    hosts:
      - 'vbb-departure-hotline.juliustens.eu'
    livenessProbe: false
    startupProbe: false
