apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: vbb-departure-hotline
  namespace: app-releases
spec:
  chart:
    spec:
      chart: simple-app
      sourceRef:
        kind: HelmRepository
        name: charts
        namespace: flux-system
      version: '^2.0.0'
  interval: 5m
  values:
    image:
      repositoryWithRegistry: "ghcr.io/juliuste/vbb-departure-hotline" # {"$imagepolicy": "flux-system:vbb-departure-hotline-image-policy:name"}
      tag: "v1_5fa122c_2021-10-12T16.50.42Z" # {"$imagepolicy": "flux-system:vbb-departure-hotline-image-policy:tag"}
    exposedPort: 3000
    environment:
      PORT: 3000
    hosts:
      - 'vbb-departure-hotline.juliustens.eu'

# resources:
#   limits:
#     cpu: 200m
#     memory: 256Mi
#   requests:
#     cpu: 100m
#     memory: 128Mi

    livenessProbe: false
    startupProbe: false
