apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: european-transport-feeds-data
  namespace: app-releases
spec:
  chart:
    spec:
      chart: simple-app
      sourceRef:
        kind: HelmRepository
        name: charts
        namespace: flux-system
      version: '^3.2.1'
  interval: 5m
  values:
    image:
      repositoryWithRegistry: "ghcr.io/public-transport/european-transport-feeds-data" # {"$imagepolicy": "flux-system:european-transport-feeds-data-image-policy:name"}
      tag: "v1_896c6fb_2023-11-09T05.13.36Z" # {"$imagepolicy": "flux-system:european-transport-feeds-data-image-policy:tag"}
    exposedPort: 3000
    environment:
      PORT: 3000
    hosts:
      - 'data.public-transport.earth'
    livenessProbe: false
    startupProbe: false
